:root {
  --blue: #4facfe;
  --green-light: #00f2fe;
  --white: #ffff;
  --grey: #e0dddda3;
  --red: red;
}

.todo-app {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(
    to right,
    var(--blue) 0%,
    var(--green-light) 100%
  );
}

.todo-box {
  width: 50%;
  min-height: 300px;
  background-color: var(--white);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  overflow: hidden;
  padding: 13px;
}

.title {
  margin: 0;
}

.create-box {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.create-box input {
  border: none;
  background-color: var(--grey);
  padding: 8px 12px;
  width: 100%;
}

.create-box input:focus-visible {
  outline: none;
}

.btn-add-task {
  border: none;
  padding: 8px 12px;
  background: linear-gradient(
    to left,
    var(--blue) 0%,
    var(--green-light) 100%
  );
  color: var(--white);
  cursor: pointer;
  text-transform: uppercase;
}

.todo-list {
  margin: 15px 0;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(
    to right,
    var(--blue) 0%,
    var(--green-light) 100%
  );
  color: var(--white);
  border-radius: 6px;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.todo-item span {
  font-size: 12px;
}

.todo-name {
  display: flex;
  align-items: center;
}

.todo-check {
  border: none;
  outline: none;
  accent-color: var(--red);
}


.todo-check:checked {
  outline: none;
}

.todo-actions {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.todo-actions .icon {
  cursor: pointer;
  width: 15px;
}

.edit-icon {
  color: rgb(29, 7, 119);
}

.trash-icon {
  color: rgb(231, 11, 11);
}

.done {
  text-decoration: line-through;
  text-decoration-color: var(--red);
}

.error {
  color: var(--red);
  font-size: 12px;
  margin-top: 5px;
  font-style: italic;
}

.empty {
  font-size: 12px;
  text-align: center;
  color: var(--blue);
  margin-top: 1rem;
  font-weight: bold;
}